@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $white;

  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;

  &:hover {
    text-decoration: underline;
  }
}

button:focus {
  outline: 1px dotted $secondary;
}

/* Vendors */

@import "vendor/slick";
@import "vendor/formstyler";
@import "vendor/magn-popup";

/* Blocks */

@import "blocks/page";
@import "blocks/container";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/intro";
@import "blocks/btn-book";
@import "blocks/section-title";
@import "blocks/benefits";
@import "blocks/rooms";
@import "blocks/rub";
@import "blocks/reviews";
@import "blocks/catalog";
@import "blocks/catalog-aside";
@import "blocks/catalog-content";
@import "blocks/banner";
@import "blocks/room-card";
@import "blocks/footer";
@import "blocks/popup";
@import "blocks/burger-menu";
