.btn-book {
  display: flex;
  align-items: center;

  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $white;

  border-radius: 25px;
  box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
  background-color: $secondary;
  border: none;

  padding: 7px 7px 7px 30px;

  transition: all 0.2s linear;
}

.btn-book__paw {
  position: relative;

  width: 36px;
  height: 36px;

  background-color: $white;
  border-radius: 50%;

  margin-left: 20px;

  transition: inherit;
}

.paw-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);

  width: 21px;
  height: 18px;

  fill: $secondary;

  transition: inherit;
}

.btn-book--white {
  background-color: $white;
  color: $black;

  transition: all 0.2s linear;

  & .btn-book__paw {
    background-color: $secondary;
    transition: inherit;
  }
  & .paw-icon {
    fill: $white;
    transition: inherit;
  }
}

.btn-book:hover {
  background-color: $white;
  color: $black;

  & .btn-book__paw {
    background-color: $secondary;
  }
  & .paw-icon {
    fill: $white;
  }
}

.btn-book--white:hover {
  background-color: $secondary;
  color: $white;
  & .btn-book__paw {
    background-color: $white;
  }
  & .paw-icon {
    fill: $secondary;
  }
}
