.catalog__aside {
  width: 100%;
  max-width: 270px;
  position: relative;

  padding-right: 15px;
}

.filter-popup {
  width: 100%;
  max-width: 332px;

  padding: 50px;
  margin-top: 136px;

  background: $white;
  box-shadow: 0px 4px 25px rgba(153, 153, 153, 0.25);
  border-radius: 6px;
}

.aside-form__group {
  margin-bottom: 35px;
}

.filter-popup .aside-form__group {
  margin-bottom: 30px;
}

.aside-form__title {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $black;

  margin-bottom: 20px;
  max-width: 245px;
}

.aside-form__range {
  width: 100%;
  max-width: 100px;

  border: 1px solid #e1e1e1;
  padding: 7px;

  &::placeholder {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $black;
  }
}

.aside-form__range + .aside-form__range {
  margin-left: 10px;
}

.aside-form__content-box {
  display: flex;
  flex-direction: column;
}

.aside-form__content-label {
  position: relative;

  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  cursor: pointer;

  padding-left: 30px;

  user-select: none;
}

.checkbox + .checkbox {
  margin-top: 15px;
}

.content-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 1px;
  height: 1px;
}

.checkbox--fake::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 3;
  left: 0;

  border: 1px solid #e1e1e1;
}

.content-checkbox:checked + .checkbox--fake::before {
  background: url(/assets/images/checked.svg) no-repeat center;
}

.content-checkbox:not(:disabled):active + .checkbox--fake::before {
  background-color: lighten($primary, 20%);
  border: 1px solid $primary;
}

.content-checkbox:focus + .checkbox--fake::before {
  box-shadow: 0 0 0 2px lighten($primary, 20%);
}

.content-checkbox:focus + .checkbox--fake::before {
  box-shadow: 0 0 0 2px lighten($primary, 20%);
}

.content-checkbox:not(:disabled):hover + .checkbox--fake::before {
  border: 1px solid $primary;
}

.content-checkbox:disabled + .checkbox--fake,
.checkbox--fake::before {
  cursor: auto;
}

.content-checkbox:disabled + .checkbox--fake::before {
  background-color: rgb(218, 216, 216);
  cursor: auto;
}

.aside-form__btn {
  width: 100%;
  max-width: 185px;
  height: 42px;

  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $black;

  border: 2px solid #fac663;
  border-radius: 25px;
}

.aside-form__btn--submit {
  background: #fac663;

  margin-bottom: 15px;
}

.aside-form__btn--reset {
  background: $white;
}

.aside-form__btn--submit:hover,
.aside-form__btn--reset:hover {
  background: lighten($primary, 10%);
}

.aside-form__btn--submit:active,
.aside-form__btn--reset:active {
  background: darken($primary, 10%);
  border: 2px solid darken($primary, 10%);
}

.aside-form__btn--submit:focus,
.aside-form__btn--reset:focus {
  box-shadow: 0 0 3px 1px darken($primary, 30%);
  outline: none;
}

.filters-btn {
  display: none;
  height: 35px;

  padding: 10px 20px 10px 15px;
  margin-right: 25px;

  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 25px;
  border: 1px solid #fff;

  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;

  transition: all 0.1s linear;

  &:focus {
    border: 1px solid darken($primary, 10%);
    outline: none;
  }

  &::before {
    content: "";
    width: 12px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;

    padding-right: 22px;

    background: url(/assets/images/our-rooms/filter-icon.svg) no-repeat center;

    @include breakpoint($sm-bp) {
      padding-right: 19px;
    }
  }

  &:hover {
    background: #fcd894;
    border-color: lighten($primary, 10%);
  }

  @include breakpoint(1081px) {
    display: inline-block;
  }

  @include breakpoint($sm-bp) {
    width: 111px;

    padding: 10px 15px 10px 10px;
    margin-left: 0;
  }
}
