.footer {
  margin-top: 180px;

  @include breakpoint($lg-bp) {
    margin-top: 160px;
  }

  @include breakpoint($md-bp) {
    margin-top: 110px;
  }

  @include breakpoint($sm-bp) {
    margin-top: 75px;
  }
}

.footer-container {
  width: 100%;
  max-width: 1060px;

  margin: 0 auto;
  padding: 0 45px;

  @include breakpoint($sm-bp) {
    padding: 0 15px;
  }
}

.footer-contacts__wrapper {
  display: flex;

  @include breakpoint($sm-bp) {
    display: block;
  }
}

.footer-contacts__inner {
  display: flex;
  flex: 0 1.3 auto;
  justify-content: flex-end;

  width: 100%;
  padding: 70px 10px 35px 45px;

  background-color: $primary;

  @include breakpoint($lg-bp) {
    flex: 0 1.13 auto;
  }

  @include breakpoint($sm-bp) {
    padding: 40px 15px;
  }
}

.footer-contacts__content {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 370px;
}

.footer-contacts__title {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: $black;

  margin-bottom: 50px;

  @include breakpoint($lg-bp) {
    margin-bottom: 40px;
  }

  @include breakpoint($lg-bp) {
    font-size: 28px;
  }
}

.footer-contacts__item {
  margin-bottom: 35px;

  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: $black;

  @include breakpoint($lg-bp) {
    margin-bottom: 30px;
    font-size: 15px;
  }
}

.footer-contacts__item-title {
  font-weight: 700;

  margin-bottom: 15px;
}

.footer-contacts__social-icons {
  display: flex;
}

.social-icons__item {
  width: 22px;
  height: 22px;

  border-radius: 50%;
  background-color: #fff;

  margin-right: 20px;
}

.social-icons__item-icon {
  width: 22px;
  height: 22px;
}

/* Map */

.footer__map {
  width: 100%;
  height: auto;

  @include breakpoint($sm-bp) {
    height: 300px;
  }
}

/* Copy */

.footer__copy {
  border: 1px solid #efefef;

  padding: 20px 0;

  @include breakpoint($sm-bp) {
    padding-top: 15px;
    padding-bottom: 30px;
  }
}

.footer-copy__content {
  display: flex;
  justify-content: space-between;

  font-family: Lato, sans-serif;
  font-size: 12px;
  color: #8f8f8f;

  @include breakpoint($sm-bp) {
    display: block;
  }
}

.footer-copy__confid-link {
  color: inherit;
}

.footer-copy__law {
  @include breakpoint($sm-bp) {
    margin-bottom: 20px;
  }
}
