.main-popup {
  width: 100%;
  max-width: 570px;

  padding: 70px;

  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 10px;
  background: url(/assets/images/popup-bg.svg) $white no-repeat left -25px top -20px;
}

.main-popup__title {
  text-align: center;
  font-family: Rubik, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  margin-bottom: 43px;
}

.main-popup__input {
  width: 100%;

  border: 1px solid #d7d7d7;
  border-radius: 25px;

  font-family: Lato, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: $black;

  padding: 16px 30px;
  margin-bottom: 20px;
}

.main-popup__date {
  font-size: 16px;
  color: $black;
}

.date-from--padding {
  padding: 0 10px 0 15px;
}

.date-to--padding {
  padding: 0 10px;
}

.main-popup__input--date {
  max-width: 130px;
  padding: 12px 10px 12px 20px;

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}
