.rooms {
  margin-top: $section-padding;
  padding-bottom: 80px;

  background: url(../../assets/images/rooms/rooms-bg.svg) no-repeat top left;

  @include breakpoint($lg-bp) {
    margin-top: $section-padding-lg-bp;
    background-size: 45%;
    background-position: top 43px left;
  }

  @include breakpoint($sm-bp) {
    padding-bottom: 50px;
    margin-top: $section-padding-sm-bp;
  }
}

.rooms__wrapper {
  position: relative;
  width: 100%;
  max-width: 1185px;

  padding-right: 10px;
  padding-left: 45px;

  margin: 0 auto;

  @include breakpoint($md-bp) {
    margin: 0 auto;
    padding-left: 15px;
  }

  @include breakpoint($sm-bp) {
    padding-right: 15px;
  }
}

.rooms__item {
  position: relative;
}

.rooms__item-img {
  display: block;
  width: 100%;
  height: 404px;
  max-width: 600px;

  object-fit: cover;

  border-radius: 10px;

  @include breakpoint($lg-bp) {
    max-width: 500px;
  }

  @include breakpoint($md-bp) {
    border-radius: 10px 10px 0 0;

    max-height: 325px;
    max-width: 440px;

    margin: 0 auto;
  }

  @include breakpoint($sm-bp) {
    max-height: 190px;
    max-width: 290px;
  }
}

.rooms-item__content {
  position: absolute;
  left: 47%;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);

  width: 100%;
  max-width: 500px;

  padding: 40px 100px;

  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);

  @include breakpoint($xl-bp) {
    max-width: 450px;
    padding: 35px;
  }

  @include breakpoint($lg-bp) {
    max-width: 360px;
    padding: 35px;
  }

  @include breakpoint($md-bp) {
    width: 100%;
    max-width: 440px;
    padding: 35px;
    margin: 0 auto;

    position: static;
    top: auto;
    left: auto;
    transform: none;

    border-radius: 0 0 8px 8px;

    & .btn-book {
      margin: 0 auto;
    }
  }

  @include breakpoint($sm-bp) {
    max-width: 290px;
  }
}

.rooms-item__title {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: $black;

  margin-bottom: 30px;

  @include breakpoint($lg-bp) {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

.rooms-item__desc-list {
  font-size: 16px;
  color: $black;

  margin-bottom: 30px;

  @include breakpoint($lg-bp) {
    font-size: 15px;
  }
}

.desc-list__item {
  position: relative;

  margin-bottom: 20px;
  padding-left: 21px;

  &::before {
    content: "";
    position: absolute;
    display: block;

    width: 13px;
    height: 13px;

    border-radius: 50%;
    background-color: $primary;

    left: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);

    @include breakpoint($lg-bp) {
      width: 11px;
      height: 11px;
    }
  }

  @include breakpoint($lg-bp) {
    margin-bottom: 15px;
  }
}
