.section-title {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: $black;

  text-align: center;

  margin-bottom: $title-padding;

  @include breakpoint($lg-bp) {
    margin-bottom: $title-padding-lg-bp;
  }

  @include breakpoint($sm-bp) {
    margin-bottom: $title-padding-sm-bp;
    font-size: 28px;
  }
}

.reviews .section-title {
  margin-bottom: 50px;

  @include breakpoint($sm-bp) {
    margin-bottom: $title-padding-sm-bp;
  }
}
