<footer class="footer" id="contacts">
    <div class="footer-contacts__wrapper">
        <section class="footer-contacts__inner">
            <div class="footer-contacts__content">
                <h2 class="footer-contacts__title">Как нас найти</h2>

                <div class="footer-contacts__item footer-contacts__address">
                    <p class="footer-contacts__item-title">Адрес</p>
                    <p class="footer-contacts__address-text">Санкт-Петербург, <br>
                        ул Большая Конюшенная, д 19</p>
                </div>

                <div class="footer-contacts__item footer-contacts__hours">
                    <p class="footer-contacts__item-title">Режим работы</p>
                    <p class="footer-contacts__hours-text">Ежедневно, с 9:00 до 20:00</p>
                </div>

                <div class="footer-contacts__item footer-contacts__phone">
                    <p class="footer-contacts__item-title">Телефон</p>
                    <div class="footer-contacts__number">
                        <a href="tel:88003335599">8 (800) 333-55-99</a>
                    </div>
                </div>

                <div class="footer-contacts__item footer-contacts__email">
                    <p class="footer-contacts__item-title">E-mail</p>
                    <div class="footer-contacts__email-link"><a href="mailto:info@cat-hotel.ru">info@cat-hotel.ru</a>
                    </div>
                </div>

                <div class="footer-contacts__item footer-contacts__social">
                    <p class="footer-contacts__item-title">Социальные сети</p>
                    <div class="footer-contacts__social-icons">
                        <div class="social-icons__item">
                            <a href="#" class="social-icons__item-link">
                                <svg class="social-icons__item-icon">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="social-icons__item">
                            <a href="#" class="social-icons__item-link">
                                <svg class="social-icons__item-icon">
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="social-icons__item">
                            <a href="#" class="social-icons__item-link">
                                <svg class="social-icons__item-icon">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class=" footer__map" id="map"></div>
    </div>

    <div class="footer__copy">
        <div class="footer-container">
            <div class="footer-copy__content">
                <div class="footer-copy__law">
                    &copy; 2021 Все права защищены
                </div>
                <div class="footer-copy__confid">
                    <a class="footer-copy__confid-link" href="#">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
</footer>