<div class="menu__inner">
    <div class="menu__logo">
        <a href="#" class="logo__link">
            <img class="menu__logo-img" src="/assets/images/logo.png" alt="Логотип Котейка">
        </a>
    </div>

    <nav class="menu__nav">
        <ul class="nav__list">
            <li class="nav__list-item">
                <a class="nav__link" href="#">Почему мы?</a>
            </li>
            <li class="nav__list-item">
                <a class="nav__link" href="#">Номера</a>
            </li>
            <li class="nav__list-item">
                <a class="nav__link" href="#">Отзывы</a>
            </li>
            <li class="nav__list-item">
                <a class="nav__link" href="#">Как нас найти</a>
            </li>
        </ul>
    </nav>
</div>