<section class="rooms">
    <h2 class="section-title">Другие номера</h2>
    <div class="rooms__wrapper">
        <div class="rooms__slider">
            <div class="rooms__item">
                <img class="rooms__item-img" src="/assets/images/rooms/slider-economplus.jpg" alt="">
                <div class="rooms-item__content">
                    <div class="rooms-item__title">Эконом плюс</div>
                    <div class="rooms-item__desc">
                        <ul class="rooms-item__desc-list">
                            <li class="desc-list__item">Площадь - 0,90 м2</li>
                            <li class="desc-list__item">Размеры (ШхГхВ) — 90х100х180 см</li>
                            <li class="desc-list__item">Цена за сутки: 200 <span class="rub">Р</span></li>
                        </ul>
                    </div>
                    <button class="btn-book" href="#main-popup" type="button">
                        Забронировать
                        <div class="btn-book__paw">
                            <svg class="paw-icon">
                                <use xlink:href="#paw-icon"></use>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>

            <div class="rooms__item">
                <img class="rooms__item-img" src="/assets/images/rooms/slider-comfort.jpg" alt="">
                <div class="rooms-item__content">
                    <div class="rooms-item__title">Комфорт</div>
                    <div class="rooms-item__desc">
                        <ul class="rooms-item__desc-list">
                            <li class="desc-list__item">Площадь - 1,13 м2</li>
                            <li class="desc-list__item">Размеры (ШхГхВ) - 100х125х180 см</li>
                            <li class="desc-list__item">Цена за сутки: 250 <span class="rub">Р</span></li>
                        </ul>
                    </div>
                    <button class="btn-book" href="#main-popup" type="button">
                        Забронировать
                        <div class="btn-book__paw">
                            <svg class="paw-icon">
                                <use xlink:href="#paw-icon"></use>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>

            <div class="rooms__item">
                <img class="rooms__item-img" src="/assets/images/rooms/slider-suite.jpg" alt="">
                <div class="rooms-item__content">
                    <div class="rooms-item__title">Сьют</div>
                    <div class="rooms-item__desc">
                        <ul class="rooms-item__desc-list">
                            <li class="desc-list__item">Площадь - 1,56 м2</li>
                            <li class="desc-list__item">Размеры (ШхГхВ) - 125х125х180 см</li>
                            <li class="desc-list__item">Цена за сутки: 350 <span class="rub">Р</span></li>
                        </ul>
                    </div>
                    <button class="btn-book" href="#main-popup" type="button">
                        Забронировать
                        <div class="btn-book__paw">
                            <svg class="paw-icon">
                                <use xlink:href="#paw-icon"></use>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <button class="slick__arrow slick__arrow--prev" id="rooms-arrow-prev" type="button">
            <svg class="slick__arrow-icon">
                <use xlink:href="#arrow"></use>
            </svg>
        </button>

        <button class="slick__arrow slick__arrow--next" id="rooms-arrow-next" type="button">
            <svg class="slick__arrow-icon slick__arrow-icon--next">
                <use xlink:href="#arrow"></use>
            </svg>
        </button>

    </div>
</section>